<!doctype html>
<html lang="en">
<header th:insert="~{fragments/head}"></header>
<body>
<header th:insert="~{fragments/navbar}"></header>
<main>
  <div class="container 100">
    <div class="row h-100 justify-content-center align-items-center">
      <form method="post" th:action="@{/newpost}" enctype="multipart/form-data" class="col-12">
        <div class="mb-3">
          <label for="titleInput" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="titleInput">
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Image</label>
          <input class="form-control" type="file" name="image" accept="image/*" id="formFile">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Post</button>
      </form>
    </div>
  </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
