<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<header th:insert="~{fragments/head}"></header>

<main>
    <div class="ui center aligned basic segment">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            Sign in
        </h2>
        <div class="ui compact labeled icon menu">
            <a class="item" th:href="@{/oauth2/authorization/keycloak}">
                <i class="openid alternate icon"></i>
                Keycloak
            </a>
        </div>
    </div>
</main>

</html>