<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="~{fragments/head}">
</header>
<body>
    <main class="container">
        <div class="ui center aligned basic segment">
            <div class="ui compact labeled icon menu">
                <a class="item" th:href="@{/oauth2/authorization/keycloak}">
                    <button type="button" class="btn btn-primary btn-lg">Log In</button>
                </a>
            </div>
        </div>
    </main>
</body>
</html>